* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.left {
	left: 0px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



#opaque-bg {
	background: black;
	opacity: 80%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 2;
}

#slideshow-outer-wrapper {
	position: fixed;
	top: 50px;
	width: 100vw;
	z-index: 10;
}

#slideshow-outer-wrapper > div {


}

.hidden,
#slideshow-outer-wrapper.hidden {
	display: none;
}

.numbertext {
	background: black;
}

#close-button {
	color: white;
	font-size: 1rem;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

#dot-container {
	position: absolute;
	width: 100%;
	text-align: center;
}

.relative {
	position: relative;
}

.slideshow-container img {
	object-fit: contain;
	height: 80vh;
	display: block;
	margin: auto;
}

@media only screen and (min-width: 100px) and (max-width: 299px) {
	.slideshow-container img {
		height: 10vh;
	}
}

@media only screen and (max-width: 300px) {
	.slideshow-container img {
		height: 30vh;
	}
}


@media only screen and (min-width: 301px) and (max-width: 500px) {
	.slideshow-container img {
		height: 40vh;
	}
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
	.slideshow-container img {
		height: 50vh;
	}
}

@media only screen and (min-width: 900px) {
	#close-button {
		font-size: 2rem;
		top: 30px;
		right: 30px;
	}
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
