html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	background: #dcdcdc;
}

header {
    width: 100%;
    padding-bottom: 20px;
}

.component {
	background: white;
	border-radius: 3px;
}

#top-strip {
    background: black;
    height: 10px;
    width: 100%;
}

#my-picture {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
	margin: 30px auto 30px auto;
}

header .halved-display-bigger-left > #photo-and-thumblinks-container {
    text-align: center;
}

.subtitle {
	color: grey;
}

header  .subtitle{
	margin-top: 10px;
	font-size: 1.5rem;
}

ul {
	list-style: none;
}

#photo-and-thumblinks-container ul {
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-top: 20px;	
}

header #photo-and-thumblinks-container  li {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background: grey;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

#projects p a {
	color: #66cb8c;
}

#projects h3 a {
	color: grey;
}

#projects img {
	width: 100%;
	margin: auto;
	display: block;
	height: 120px;
}

header li a {
	color: white;
}

header #photo-and-thumblinks-container  li:hover {
	background: black;
	transition: 0.5s ease-in;
}

.halved-display-bigger-left {
	grid-template-columns: 2fr 1fr;		
}

.halved-display-bigger-right,
.halved-display-projects {
	grid-template-columns: 1fr 2fr;
}

.halved-display-projects {
    display: grid;
	grid-gap: 15px;
}

.halved-display-projects:not(:first-child) {
	margin-top: 20px;
}

#projects-container {
	margin-top: 25px;
}

#my-info-box li:not(:first-child) {
	margin-top: 30px;
}

#my-info-box li,
#education li {
    display: grid;
	grid-template-columns: 1fr 8fr;
}

#my-info-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#my-info-box i,
#education i {
	color: grey;
}

main {
	padding: 50px 30px;
}

main p {
    margin-top: 20px;
}

main .component {
    padding: 20px;
}

a:hover {
	text-decoration: underline;
}

.bar {
    width: 100%;
    height: 15px;
    background: lightgrey;
    position:relative;
    z-index: 1;
}

.bar::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    height: 15px;
    background: #66cb8c;
    z-index: 2;  
}

#python-bar::after,
#javascript-bar::after ,
#html-css-bar::after {
    width: 90%;
}

#php-bar::after {
    width: 60%;
}

#vb-bar::after {
    width: 30%;
}

.experience-container {
    display: flex;
    justify-content: space-between;
}

.experience-container span {
    color: lightgrey;
    font-size: 0.9rem;
}

#skills ul li:not(:first-child),
#education ul li:not(:first-child) {
    margin-top: 20px;
}

#skills ul,
#education ul {
    margin-top: 20px;
}

main > div:nth-child(2) {
    margin-top: 25px;
}

main > div > section:not(:first-child) {
    margin-top: 25px;   
}

#education li span {
    display: block;
    font-size: 0.8rem;
}

#education li div h4{
    color: grey;
}

footer {
	background: black;
	color: white;
	padding: 20px;
	margin-top: 30px;
}

footer p {
	text-align: center;
	font-size: 0.8rem;
}



/* media queries */

@media only screen and (min-width: 750px) {
	.halved-display-bigger-left,
	.halved-display-bigger-right,
	.halved-display-equal {
		display: grid;		
	}
    
    header {
        padding-bottom: 0px;
    }
	
	header .halved-display-bigger-left > #photo-and-thumblinks-container {
		text-align: initial;
	}
	
	#photo-and-thumblinks-container ul {
		justify-content: flex-start;
	}
	
	header .halved-display-bigger-right {
		align-items: center;
	}
	
	#my-info-box {
		margin-top: 0;
	}
	
	main.halved-display-bigger-left {
		grid-gap: 25px;
	}
    
    main > div:nth-child(2) {
        margin-top: 0;
    }
}